.nav {
    display: flex;
    background-color: rgba(144, 144, 231, 0.993);
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Castoro Titling', cursive;
}

.nav .social ul li {
    display: inline;
    padding: 20px;
}

.social ul li .github {
    font-size: 30px;

}

.social ul li .linkdin {
    font-size: 26px;
}

.social ul li .twiter {
    font-size: 30px;
}

@media (200px <=width <=529px) {
    .nav {}

    .nav .social {
        display: none;
    }

}